# Segmenting and Clustering Neighborhoods in Toronto
## Week 3 Peer-graded Assignment

In [1]:
import pandas as pd
import numpy as np

In [2]:
# in case lxml is not installed
# !pip install lxml

### Load the data from wikipedia webpage

In [3]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
df.shape

(180, 3)

### Preprocess

In [5]:
df['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
York                 5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

In [6]:
df['Neighbourhood'].value_counts()

Not assigned                                     77
Downsview                                         4
Don Mills                                         2
Humberlea, Emery                                  1
Agincourt                                         1
                                                 ..
Parkview Hill, Woodbine Gardens                   1
Thorncliffe Park                                  1
North Toronto West, Lawrence Park                 1
East Toronto, Broadview North (Old East York)     1
Parkdale, Roncesvalles                            1
Name: Neighbourhood, Length: 100, dtype: int64

There is value with 'Not assigned' 77 each in both 'Borough' and 'Neighbourhood' columns

In [7]:
# replace 'Not assigned' as NaN
df = df.replace(to_replace='Not assigned', value=np.NaN)
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [8]:
df.isna().value_counts()

Postal Code  Borough  Neighbourhood
False        False    False            103
             True     True              77
dtype: int64

In [9]:
# drop record with NaN in 'Borough'
df = df.dropna(subset=['Borough'])
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
df.isna().value_counts()

Postal Code  Borough  Neighbourhood
False        False    False            103
dtype: int64

In [11]:
# check for duplicated postal codes
df['Postal Code'].value_counts().sort_values(ascending=False)

M4H    1
M1V    1
M4X    1
M6H    1
M9R    1
      ..
M4C    1
M1T    1
M1B    1
M7R    1
M1X    1
Name: Postal Code, Length: 103, dtype: int64

No duplicated postal code found.

In [12]:
df = df.reset_index(drop=True)
df

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [13]:
df.shape

(103, 3)

got the dataframe. End of part 1